.python-version
.idea
media
*.pyc
*.zip
db.sqlite3
.env
.vscode
*.sql
*.log
*.xlsx
.DS_Store
static
/keys
*.bak
*.dat
*.dir
*.env*
docker-compose/auth
.codegpt
redis.conf
*_tasks.md
1.py
.coverage
/temp
token.cmd
venv/
