services:
    db:
        image: postgres:13.4
        env_file:
            - .env
        ports:
            - 5432:5432
        volumes:
            - db_data:/var/lib/postgresql/data
        networks:
            - default-network
    api:
        build: .
        command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
        env_file:
            - .env
        volumes:
            - .:/app
        ports:
            - 8000:8000
        depends_on:
            - db
        networks:
            - default-network


volumes:
    db_data:

networks:
    default-network:
       driver: bridge