services:
    db:
        image: postgres:14
        env_file:
            - .env
        ports:
            - 5430:5432
        healthcheck:
         test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
         interval: 5s 
         timeout: 5s 
         retries: 5
        volumes:
            - db_data:/var/lib/postgresql/data
        networks:
            - default-network
    
    api:
        build: .
        command: >
                sh -c "python manage.py migrate && python manage.py collectstatic --noinput &&
                gunicorn config.wsgi:application --worker-class=sync --workers=4 --bind 0.0.0.0:8000 --timeout 30 --access-logfile - --error-logfile -"

        env_file:
            - .env
        volumes:
            - .:/app
        ports:
            - 8000:8000
        depends_on:
            - db
        networks:
            - default-network


volumes:
    db_data:

networks:
    default-network:
       driver: bridge